.result-modal-test-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.mediaverse-select-modal-element {
	--color-red: #f38ba8;
	background-color: var(--background-primary-alt);
	border-radius: 4px;
	color: var(--text-normal);
	width: calc(50% - 8px);
	padding-bottom: 8px;
	border: 2px solid var(--modal-background);

	& > .cover-image-wrapper {
		display: block;
		width: 100%;
		height: 362px;
		overflow: hidden;
	}

	& .cover-image {
		width: 100%;
		height: 100%;
		border-radius: 4px 4px 0 0;
		object-fit: cover;

		transition: scale 0.25s, filter 0.25s;
		-webkit-user-drag: none;
	}

	& > .primary-title {
		font-weight: 800;
		margin: 6px 6px 0;

		display: -webkit-box;
		line-clamp: 1;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	& > .secondary-title {
		font-size: small;
		margin: 2px 6px 0;
		
		display: -webkit-box;
		line-clamp: 1;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	& > .id {
		color: var(--text-faint);
		margin: 10px 6px 100px;
	}
}

.mediaverse-select-modal-element-hovered {
	background-color: var(--background-secondary-alt);
	
	& .cover-image {
		scale: 1.2;
	}
}

.mediaverse-select-modal-element-selected {
	background-color: var(--background-secondary-alt);
	border-bottom: 2px solid var(--color-red);

	& .cover-image {
		filter: blur(2px);
		scale: 1.2;
	}
}
