.mediaverse-options-wrapper {
	display: flex;
	flex-direction: row;
	gap: 8px;
	margin-top: 12px;
}

.mediaverse-api-toggle-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 8px;

	width: calc(50% - 8px);
	height: 125px;
	background-color: var(--background-primary-alt);
	border-radius: 16px;

	transition: background-color 0.15s ease-in-out;

	&:hover {
		background-color: var(--background-modifier-hover);
	}

	&.selected {
		background-color: var(--mediaverse-selected-color);
	}

	&>img {
		width: 64px;
		height: 64px;
		border-radius: 8px;
	}

	&>p {
		margin: unset;
		padding: unset;
	}
}
